<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Of Standard</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/bootstrap-select.css" rel="stylesheet">
    <link href="/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="/css/zTreeStyle.css" rel="stylesheet">
    <link href="/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/layer/layer.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/content.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" charset="UTF-8"></script>
    <script src="/js/jquery.ztree.core.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/dataTables.js"></script>
    <script src="/js/dataTables.bootstrap.js"></script>
    <script src="/js/area.js"></script>
    <script src="/js/ion.rangeSlider.min.js"></script>
</head>
<body class="gray-bg">
    <div class="wrapper-content float-e-margins">
        <div class="ibox-content">
            <div class="floatleft marginright">
                <a class="btn btn-w-m btn-primary" href="/Standard/Form">Add</a>
            </div>
            <div class="hr-line-dashed clearboth"></div>
            <table id="ViewTable" class="display"></table>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
$('#ViewTable').DataTable({
	order: [0, "desc"],
    bLengthChange: false,
    destroy: true,
    ajax: {
        url: "/Standard/GetList",
        dataSrc: ""
    },
    columns: [
        {
            data: "id",
            sTitle: "id",
            visible: false
        },
        {
            sTitle: "ex_TextBox",
            mData: function (data) {
                return "<a href='/Standard/Visit?id=" + data.id + "'>" + data.ex_TextBox + "</a>";
            }
        },
        {
            data: "ex_DropdownList",
            sTitle: "ex_DropdownList"
        },
        {
            data: "ex_DateBox",
            sTitle: "ex_DateBox"
        },
        {
        	sTitle: "ex_TextArea",
        	mData: function (data) {
        		 if (data.ex_TextArea.length > 5) {
                     return data.ex_TextArea.substring(0, 5) + "...";
                 }
                 else {
                     return data.ex_TextArea;
                 }
        	}
        },
        {
            data: "ex_CheckBoxList",
            sTitle: "ex_CheckBoxList"
        },
        {
            sClass: "text-right",
            sTitle: "Opration",
            bSortable: false,
            bSearchable: false,
            mData: function (data) {
                var button = '';
                button += "<a class='btn btn-sm btn-warning' href='/Standard/Visit?id=" + data.id + "'>Visit</a> ";
                button += "<a class='btn btn-sm btn-success' href='/Standard/Form?id=" + data.id + "'>Modify</a>";
                return button;
            }
        }
    ]
});
</script>