<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Form Of TreeList</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/font-awesome.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link href="/css/bootstrap-select.css" rel="stylesheet">
<link href="/css/dataTables.bootstrap.css" rel="stylesheet">
<link href="/css/ion.rangeSlider.css" rel="stylesheet">
<link href="/css/zTreeStyle.css" rel="stylesheet">
<link href="/css/bootstrap-datetimepicker.css" rel="stylesheet">
<script src="/js/jquery.js"></script>
<script src="/js/layer/layer.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/content.min.js"></script>
<script src="/js/bootstrap-datetimepicker.js" type="text/javascript" charset="UTF-8"></script>
<script src="/js/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" charset="UTF-8"></script>
<script src="/js/jquery.ztree.core.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/dataTables.js"></script>
<script src="/js/dataTables.bootstrap.js"></script>
<script src="/js/area.js"></script>
<script src="/js/ion.rangeSlider.min.js"></script>
</head>
<body class="gray-bg">
	<div class="wrapper-content float-e-margins">
		<div class="ibox-content">
			<form method="post" class="form-horizontal" id="FormContent">
				<div class="form-group">
					<label class="col-sm-2 control-label">TextBox</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="ex_TextBox" />
					</div>
					<label class="col-sm-2 control-label">DropdownList</label>
					<div class="col-sm-4">
						<select class="selectpicker" data-live-search="true" name="ex_DropdownList" data-style="btn-white">
							<option value="select1">select1</option>
							<option value="select2">select2</option>
							<option value="select3">select3</option>
							<option value="select4">select4</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">TreeID</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" name="treeID" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">DateBox</label>
					<div class="col-sm-4">
						<input class="form-control" name="ex_DateBox">
					</div>
					<label class="col-sm-2 control-label">CheckBoxList</label>
                    <div class="col-sm-4 clickinput">
                        <input type="hidden" name="ex_CheckBoxList" />
                        <label><input type="checkbox" class="checkboxValue" value="checkbox1" />C1</label>
                        <label><input type="checkbox" class="checkboxValue" value="checkbox2" />C2</label>
                        <label><input type="checkbox" class="checkboxValue" value="checkbox3" />C3</label>
                     </div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">TextArea</label>
					<div class="col-sm-10">
						<textarea class="fulltextarea" name="ex_TextArea"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12 textaligncenter">
						<div id="UpdateGroup">
							<a id="submit" class="btn btn-w-m btn-primary">Modify</a>
							<a class="btn btn-w-m btn-default" onclick="closeLayerForm()">Back</a>
							<a class="btn btn-w-m btn-danger" onclick="Delete()">Delete</a>
							</div>
							<div id="InsertGroup">
							<a id="submit" class="btn btn-w-m btn-primary">Create</a>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
<script>
    if (GetQueryString("id") == null) {
        $("[name='ex_DateBox']").val(getNowDateTime());
        $("[name='treeID']").val(GetQueryString("TreeID"));
        $("#UpdateGroup").remove();
    }
    else {
    	$("#InsertGroup").remove();
        $.ajax({
            type: "GET",
            url: "/TreeList/GetSingle/?id="+GetQueryString("id"),
            dataType: "JSON",
            success: function (data) {
                $("[name='ex_TextBox']").val(data[0]["ex_TextBox"]);
                $("[name='treeID']").val(data[0]["treeID"]);
                $("[name='ex_DropdownList']").selectpicker('val', data[0]["ex_DropdownList"]);
                $("[name='ex_DateBox']").val(formatDateTime(data[0]["ex_DateBox"]));
                $("[name='ex_TextArea']").val(data[0]["ex_TextArea"]);
           		
                if (data[0]["ex_CheckBoxList"] != null && data[0]["ex_CheckBoxList"] != "") {
                    var strs = new Array();
                    strs = data[0]["ex_CheckBoxList"].split(",");
                    $.each(strs, function (i, item) {
                        $(".checkboxValue[value=" + item + "]").attr("checked", "checked");
                    });
                    $("[name='ex_CheckBoxList']").val(data[0]["ex_CheckBoxList"]);
                }
                else {
                    $("[name='ex_CheckBoxList']").val("");
                }
            }
        });
    }

    $("[name='ex_DateBox']").datetimepicker({
        format: 'yyyy-mm-dd',
        language: 'zh-CN',
        minView: 2,
        autoclose: 1
    });
    
    $(".checkboxValue").change(function () {
        var chk_value = [];
        $('.checkboxValue:checked').each(function () {
            chk_value.push(($(this).val()));
        });
        $("[name='ex_CheckBoxList']").val(chk_value);
    });

	$("#submit").click(function() {
		var submitPath = 'Insert';
		if(GetQueryString("id")!=null){
			submitPath = 'Update?id='+GetQueryString("id");
		}
		
		if ($("#submit").attr("disabled") == "disabled") {
			layer.msg("wait please...");
		} else {
			$("#submit").attr("disabled", true);
			$.ajax({
				type : "POST",
				url : "/TreeList/"+submitPath,
				contentType : "application/json; charset=utf-8",
				data : $('#FormContent').serializeObject(),
				dataType : "Json",
				complete : function(data) {
					$("#submit").removeAttr("disabled");
					if (data.responseText != 0) {
						 closeLayerForm();
                         parent.layer.msg("Sussess");
					} else {
						layer.alert(data.responseText);
					}
				}
			});

		}
	});
	
	 function Delete() {
	        layer.confirm('are u sure？', {
	            btn: ['Yes', 'No']
	        },
	        function () {
	            $.get("/TreeList/Delete?id="+GetQueryString("id"), function (data) {
	                if (data != 0) {
	                	closeLayerForm();
	                	parent.layer.msg("Sussess");
	                }
	                else {
	                    layer.msg(data);
	                }
	            });
	        }, function () {
	            layer.msg('Canceled');
	        });
	 };
	 
	 function closeLayerForm() {
	    parent.layer.close(parent.layer.getFrameIndex(window.name));
	    parent.reloadDataTables();
	 }
</script>